body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsla(34, 18%, 83%, 0.871);
}

#chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background: rgb(245, 234, 220);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#chat-header {
  background: #ff8c00;
  color: rgb(2, 1, 1);
  padding: 10px;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#chat-area {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 14px;
}

.user-message {
  align-self: flex-end;
  background-color: #ff8c00;
  color: rgb(0, 0, 0);
}

.bot-message {
  align-self: flex-start;
  background-color: #ffffff;
  color: black;
  border: 1px solid #ccc;
}

#input-container {
  display: flex;
  border-top: 1px solid #ccc;
}

#user-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 0;
}

#send-btn {
  background: #ff8c00;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.quick-reply-btn {
  background-color: #ff8c00;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.quick-reply-btn:hover {
  background-color: #e77f00;
}

#close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdown {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(253, 168, 71);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  display: none;
  margin-top: 10px;
}

.dropdown-content button {
  width: 100%;
  padding: 10px;
  background-color: #ff8c00;
  border: none;
  color: rgb(0, 0, 0);
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content button:hover {
  background-color: #e77f00;
}

.dropdown-content.show {
  display: block;
}

.dropdown i {
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.dropdown i.rotate {
  transform: rotate(180deg);
}

.sector-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.sector-btn {
  background-color: #ff8c00;
  color: rgb(0, 0, 0);
  padding: 12px;
  border-radius: 5px;
  width: 48%;
  text-align: center;
  cursor: pointer;
  border: none;
}

.sector-btn:hover {
  background-color: #e77f00;
}

.contact-info {
  font-size: 14px;
  white-space: pre-wrap;
}

.email-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
